.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); }
}

.skew-container {
    transform: skewX(-20deg);
    overflow: hidden;
    border-radius: 12px;
}

.skew-child {
    transform: skewX(20deg);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; scrollbar-width: none;
}

@font-face {
    font-family: 'ShiftTitle';
    src: url('../fonts/Stacked-Strong.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ShiftBody';
    src: url('../fonts/Bahnschrift.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}