ErrorDocument 403 /Shift-Up/errors/403.php
ErrorDocument 404 /Shift-Up/errors/404.php
ErrorDocument 500 /Shift-Up/errors/500.php


RewriteEngine On


Options -Indexes

RedirectMatch 404 /\.git
RedirectMatch 404 /\.env